/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


.container {
  width: 1180px;
  margin: 0 auto;
}


/* Header */

.header {
  background-color: #445162;
}

.top {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.top__item {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.top__title {
  font-size: 60px;
  font-weight: 400;
  padding-bottom: 30px;
}

.top__list li {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  background: url(../img/check_icon.png) left no-repeat;
  padding: 0 0 0 35px;
}


/* Content */

.content {
  padding: 50px 0 50px 0;
}

.content_bg {
  background-color: #f5f5f5;
}

.content__item {
  display: flex;
  justify-content: space-between;
}

.content__text {
  max-width: 653px;
}
.content__text p {
  margin-bottom: 20px;
}

.content__list {
  width: 50%;
}

.content__list li {
  background: url(../img/layers.png) 0% 10% no-repeat;
  padding-left: 40px;
  padding-bottom: 35px;
}

.content__list li:last-child {
  padding-bottom: 0;
}

.title {
  color: #445161;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 30px;
}

.title__mini {
  color: #445161;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.text {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.title-align-medium {
  text-align: center;
}

.scrinshots__content {
  display: flex;
  margin-bottom: 30px;
}

.scrinshots__content:last-child {
  margin-bottom: 0;
}

.scrinshots__column {
  display: flex;
  width: 50%;
  margin-left: 10px;
}

.scrinshots__column:first-child {
  margin-left: 0;
}

.scrinshots__text {
  margin-left: 15px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  box-sizing: border-box;
  display: flex;
}

.reviews__item:nth-child(1),
.reviews__item:nth-child(2)  {
  margin-bottom: 24px;
}

.reviews__item:nth-child(odd) {
  margin-right: 32px;
}

.reviews_img {
  margin-right: 16px;
  width: 75px;
  height: 75px;
}

.reviews__text {
  background: url(../img/bg_review.png) no-repeat;
  width: 483px;
  box-sizing: border-box;
}

.reviews__text p {
  padding-left: 27px;
  margin: 16px 20px 0 0;
}

.reviews__author {
  padding-left: 27px;
  padding-bottom: 10px;
}

.reviews__paragraph {
  font-style: italic;
}

.reviews__author {
  color: #989898;
}

.card__collection {
  display: flex;
  justify-content: space-around;
}

.card {
  align-self: flex-end;
  border: 1px solid black;
  width: 300px;
  border-radius: 8px;
  background: #445162;
}

.card__title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  padding: 16px 0;
}

.card__price {
  background: #ffffff;
  padding: 18px 0;
  text-align: center;
  color: #445162;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  border: 2px solid #445162;
}

.card__text {
  padding: 20px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}

.button__buy {
  display: inline-block;
  margin-top: 20px;
  color: #445161;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 18px;
  background-color: #ffffff;
  text-align: center;
  padding: 14px 111px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
}


.footer {
  background: #445162;
  padding: 50px 0;
}

.title__footer {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 30px;
}

.data__block {
  width: 500px;
}

.data__form {
  display: flex;
  flex-direction: column;
}

.data__input {
  box-sizing: border-box;
  width: 500px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
  padding: 14px 10px;
}

.data__input::placeholder,
.message::placeholder {
  color: #445162;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.message {
  box-sizing: border-box;
  width: 500px;
  height: 170px;
  resize: none;
  border-radius: 6px;
  border: none;
  padding: 14px 10px;
  margin-bottom: 20px;
}

.button__send {
  align-self: center;
  padding: 14px 0;
  width: 140px;
  background: #ffffff;
  display: inline-block;
  border-radius: 6px;
  text-align: center;

  color: #445162;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.contact__list {
  margin-bottom: 18px;
  height: 26px;
  padding-left: 29px;
}

.contact__list:nth-child(1) {
  background: url(../img/skype_icon.png) left no-repeat;
}

.contact__list:nth-child(2) {
  background: url(../img/icq_icon.png) left no-repeat;
}

.contact__list:nth-child(3) {
  background: url(../img/email_icon.png) left no-repeat;
}

.contact__list:nth-child(4) {
  background: url(../img/phone_icon.png) left no-repeat;
}